@page
@model ProjectNoy.Pages.classical.bachModel
@{
}
<h1>באך 1685-1750</h1>
<h2>יוהאן סבסטיאן באך</h2>
<p>יוהאן סבסטיאן באך היה מלחין וירטואוז גרמני, נחשב לאחד מהמלחינים הגדולים והמשפיעים ביותר במוזיקה הבארוקית. יצירותיו משלבות מורכבות הרמונית, יכולת פוליפונית ועושר רגשי, והשפיעו רבות על דורות של מוזיקאים אחרי תקופתו.</p>

<table>
    <tr>
        <td>
            <img class="one" src="~/images/bach banner.jpeg" alt="Bach Banner" />
        </td>
        
    </tr>
    <tr>
        <td>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6JQm5aSjX6g?si=hTwNQllcxnZsceE2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </td>
    </tr>
</table>
