@page
@model ProjectNoy.Pages.classical.beethovenModel
@{
}
<h1>בטהובן 1827-1770</h1>
<h2>לודוויג ואן בטהובן </h2>
<p>לודוויג ואן בטהובן היה מלחין ופיאניסט גרמני, נחשב לאחד המלחינים החשובים והמשפיעים ביותר בהיסטוריה של המוזיקה הקלאסית. הוא חי בתקופה של מעבר מהתקופה הקלאסית לתקופה הרומנטית, ויצירותיו משקפות את השינויים הללו במוזיקה.</p>
<table>
    <tr>
        <td><img class="one" src="~/images/beethoven banner.webp" /></td>
    </tr>
    <tr>
        <td>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/W-fFHeTX70Q?si=nYoVFhKoRwRoAYM-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </td>
        </tr>
</table>

