@page
@model ProjectNoy.Pages.classical.mozartModel
@{
}
<h1>מוצרט 1791-1756</h1>
<h2>וולפגנג אמדאוס מוצרט</h2>
<p>וולפגנג אמדאוס מוצרט היה מלחין ואמן אוסטרי, נחשב לגאון של המוזיקה הקלאסית. הוא כתב מאות יצירות מוזיקליות בולטות, כולל סימפוניות, אופרות, קונצ'רטי ומוזיקה קאמרית, והשפיע על דורות רבים של מוזיקאים.</p>

<table>
    <tr>
        <td>
            <img class="one" src="~/images/mozart banner.jpg" alt="Mozart Banner" />
        </td>
    </tr>
    <tr>
        <td>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RAxDy10bvnM?si=OWPc1cgeA9ecJ2bI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </td>
    </tr>
</table>
