@page
@model ProjectNoy.Pages.classical.shubertModel
@{
}
<h1>שוברט 1828-1797</h1>
<h2>פרנץ שוברט</h2>
<p>פרנץ שוברט היה מלחין אוסטרי מן התקופה הרומנטית המוקדמת. הוא נחשב לאבי הליד (השיר האמנותי), והלחין מאות שירים, יצירות קאמריות, סימפוניות ויצירות לפסנתר. יצירותיו מתאפיינות בליריות עמוקה, רגש עשיר ומלודיות בלתי נשכחות.</p>

<table>
    <tr>
        <td>
            <img class="one" src="~/images/schubert banner.jpg" alt="Schubert Banner" />
        </td>
    </tr>
    <tr>
        <td>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MHYribQS-Ew?si=bdufAGMF1mqGg8Bx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </td>
    </tr>
</table>
