@page
@model ProjectNoy.Pages.classical.tchaikovskyModel
@{
}
<h1>צ'ייקובסקי 1893-1840</h1>
<h2>פיוטר איליץ' צ'ייקובסקי</h2>
<p>פיוטר איליץ' צ'ייקובסקי היה מלחין רוסי מן התקופה הרומנטית, ונחשב לאחד המלחינים האהובים והמבוצעים ביותר בעולם. יצירותיו מתאפיינות בעוצמה רגשית, מלודיות סוחפות ותזמור עשיר, וכוללות בלטים מפורסמים, סימפוניות וקונצ'רטים.</p>

<table>
    <tr>
        <td>
            <img class="one" src="~/images/tchaikovsky banner.webp" alt="Tchaikovsky Banner" />
        </td>
    </tr>
    <tr>
        <td>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7_WWz2DSnT8?si=KJr42O2bCyLNGY_e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </td>
    </tr>
</table>
