@page
@model ProjectNoy.Pages.classical.vivaldiModel
@{
}
<h1>ויוולדי 1741-1678</h1>
<h2>אנטוניו ויוואלדי</h2>
<p>אנטוניו ויוואלדי היה מלחין וכומר איטלקי מן התקופה הבארוקית, ונחשב לאחד מגדולי מלחיני הבארוק. הוא התפרסם בעיקר בזכות היצירה "ארבע העונות", ותרם רבות לפיתוח צורת הקונצ'רטו. סגנונו מתאפיין בקצביות, צבעוניות ותנועה מוזיקלית חיה.</p>

<table>
    <tr>
        <td>
            <img class="one" src="~/images/vivaldi banner.jpeg" alt="Vivaldi Banner" />
        </td>
    </tr>
    <tr>
        <td>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JHW857NQ8vc?si=iMq4sVG_Tff3J88f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </td>
    </tr>
</table>
