@page
@model ProjectNoy.Pages.classicalModel
@{
}

<table>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/Beethoven ban.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">לודוויג ואן בטהובן</h5>
                    <p class="card-text">הגשר בין התקופה הקלאסית לרומנטית</p>
                    <a href="classical/beethoven" class="btn btn-primary">מידע נוסף</a>
                </div>
            </div>
        </td>

        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/bach ban.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">יוהאן סבסטיאן באך</h5>
                    <p class="card-text">אבי המוזיקה הבארוקית</p>
                    <a href="classical/bach" class="btn btn-primary">מידע נוסף</a>
                </div>
            </div>
        </td>

        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/mozart ban.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">וולפגנג אמדאוס מוצרט</h5>
                    <p class="card-text">הגאון של המוזיקה הקלאסית</p>
                    <a href="classical/mozart" class="btn btn-primary">מידע נוסף</a>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/schubert ban.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">פרנץ שוברט</h5>
                    <p class="card-text">אבי הליד (השיר האמנותי)</p>
                    <a href="classical/shubert" class="btn btn-primary">מידע נוסף</a>
                </div>
            </div>
        </td>

        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/tchaikovski ban.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">פיוטר איליץ' צ'ייקובסקי</h5>
                    <p class="card-text">גדול המלחינים הרומנטיים</p>
                    <a href="classical/tchaikovsky" class="btn btn-primary">מידע נוסף</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/Vivaldi ban.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">אנטוניו ויוואלדי</h5>
                    <p class="card-text">מאסטר הקונצ'רטו</p>
                    <a href="classical/vivaldi" class="btn btn-primary">מידע נוסף</a>
                </div>
            </div>
        </td>
    </tr>
</table>
