@page
@model ProjectNoy.Pages.loginModel
@{
}
<form action="action_page.php" method="post">
  

    <div class="container">
        <label for="uname"><b>שם משתמש</b></label>
        <input type="text" placeholder="רשום שם משתמש" name="uname" required>

        <label for="psw"><b>סיסמה</b></label>
        <input type="password" placeholder="רשום סיסמה" name="psw" required>

        <button type="submit">התחבר</button>

        <a href="register" class="button">להרשמה</a>
    </div>


</form>
