@page
@model ProjectNoy.Pages.loginModel
@{
}

<div class="container" style="direction: rtl;">
    <h2>כניסה למערכת</h2>

    <form id="loginForm" method="post">
        <div class="form-group">
            <label for="uname"><b>שם משתמש:</b></label>
            <input type="text" id="uname" name="Uname" required
                   placeholder="מינימום 2 תווים, מתחיל באות אנגלית"
                   pattern="^[a-zA-Z][a-zA-Z0-9!@@#$%^&*]*$"
                   title="חובה להתחיל באות אנגלית, ללא עברית או רווחים">
        </div>

        <div class="form-group">
            <label for="psw"><b>סיסמה:</b></label>
            <input type="password" id="psw" name="Psw" required
                   placeholder="6-12 תווים, אות גדולה, מספר ותו">
            <div id="passError" style="color:red; font-size: 0.8em; min-height: 1.2em;"></div>
        </div>

        <div class="buttons">
            <button type="submit">התחבר</button>
            <button type="reset" id="resetBtn">איפוס</button>
        </div>
    </form>

    <br />
    <a href="/register">עוד לא רשום? להרשמה</a>
</div>

<script src="~/js/login.js"></script>