
@page
@model ProjectNoy.Pages.popModel
@{
}
</div>
<table border="1" style="border-collapse: collapse; width: 100%; height: 200px; text-align: center;">
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/jackson ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">מייקל ג’קסון</h5>
                    <p class="card-text">שינה את המוזיקה והריקוד לעד</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/madonna ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">מדונה</h5>
                    <p class="card-text">סמל של חדשנות וחופש ביטוי</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/beyonce ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ביונסה</h5>
                    <p class="card-text">שילוב של עוצמה קולית, ריקוד ומסר חברתי</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/gaga ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ליידי גאגא</h5>
                    <p class="card-text">פופ כתיאטרון ואמירה אישית</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/ed ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">אד שירן</h5>
                    <p class="card-text">יוצר קטן שהפך ללהיט ענק</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/justin ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ג’סטין טימברלייק</h5>
                    <p class="card-text">פופ עם נשמה של סול ופאנק</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
    </tr>
</table>