@page
@model ProjectNoy.Pages.rapModel
@{
}
</div>
<table>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/tupac ban.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">טופאק שאקור</h5>
                    <p class="card-text">הקול של הרחוב</p>
                    <a href="https://he.wikipedia.org/wiki/%D7%98%D7%95%D7%A4%D7%90%D7%A7_%D7%A9%D7%90%D7%A7%D7%95%D7%A8" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/big ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">נוטוריוס B.I.G</h5>
                    <p class="card-text">מלך החוף המזרחי</p>
                    <a href="https://he.wikipedia.org/wiki/%D7%94%D7%A0%D7%95%D7%98%D7%95%D7%A8%D7%99%D7%95%D7%A1_%D7%91%D7%99._%D7%90%D7%99%D7%99._%D7%92'%D7%99." class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/jayz ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ג'יי־זי</h5>
                    <p class="card-text">איל ההיפ־הופ</p>
                    <a href="https://he.wikipedia.org/wiki/%D7%92%27%D7%99%D7%99-%D7%96%D7%99" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/kanye ban.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">קניה ווסט (יה)</h5>
                    <p class="card-text">קול הדור והעיצוב של ההיפ־הופ</p>
                    <a href="https://he.wikipedia.org/wiki/%D7%A7%D7%A0%D7%99%D7%94_%D7%95%D7%A1%D7%98" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/Eminem ban.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">אמינם</h5>
                    <p class="card-text">אמן החריזה של דורו</p>
                    <a href="https://he.wikipedia.org/wiki/%D7%90%D7%9E%D7%99%D7%A0%D7%9D" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/dre ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ד"ר דרה</h5>
                    <p class="card-text">האדריכל של ההיפ־הופ המערבי</p>
                    <a href="https://he.wikipedia.org/wiki/%D7%93%22%D7%A8_%D7%93%D7%A8%D7%94" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
    </tr>
</table>