@page
@model ProjectNoy.Pages.rapModel
@{
}
</div>
<table>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/tupac ban.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">טופאק שאקור</h5>
                    <p class="card-text">הקול של הרחוב</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/big ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">נוטוריוס B.I.G</h5>
                    <p class="card-text">מלך החוף המזרחי</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/jayz ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ג'יי־זי</h5>
                    <p class="card-text">איל ההיפ־הופ</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/kanye ban.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">קניה ווסט (יה)</h5>
                    <p class="card-text">קול הדור והעיצוב של ההיפ־הופ</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/Eminem ban.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">אמינם</h5>
                    <p class="card-text">אמן החריזה של דורו</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/dre ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ד"ר דרה</h5>
                    <p class="card-text">האדריכל של ההיפ־הופ המערבי</p>
                    <a href="#" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
    </tr>
</table>