@page
@model ProjectNoy.Pages.rockModel
@{
}

<table>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/beatles ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">הביטלס</h5>
                    <p class="card-text">מהפכני הרוק והפופ</p>
                    <a href="https://he.wikipedia.org/wiki/%D7%94%D7%91%D7%99%D7%98%D7%9C%D7%A1" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/acdc ban.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">AC/DC</h5>
                    <p class="card-text">כוח הרוק הבלתי נגמר</p>
                    <a href="https://he.wikipedia.org/wiki/AC/DC" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/radiohead ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">רדיוהד</h5>
                    <p class="card-text">מהפכני הרוק המתקדם</p>
                    <a href="https://he.wikipedia.org/wiki/%D7%A8%D7%93%D7%99%D7%95%D7%94%D7%93" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/kevin ban.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">טיים אימפאלה</h5>
                    <p class="card-text">מהפכני הרוק האלקטרוני והפסיכדלי</p>
                    <a href="https://he.wikipedia.org/wiki/%D7%98%D7%99%D7%99%D7%9D_%D7%90%D7%99%D7%9E%D7%A4%D7%9C%D7%94" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/metalica ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">מטאליקה</h5>
                    <p class="card-text">אמני המטאל המודרני</p>
                    <a href="https://he.wikipedia.org/wiki/%D7%9E%D7%98%D7%90%D7%9C%D7%99%D7%A7%D7%94" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="~/images/guns ban.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">גאנס אנד רוזס</h5>
                    <p class="card-text">מהפכני הרוק של שנות ה-80</p>
                    <a href="https://he.wikipedia.org/wiki/Guns_N%27_Roses" class="btn btn-primary">מידע נוסף</a>
                </div>
        </td>
    </tr>
    </table>