html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  direction: rtl;
}

body {
  margin-bottom: 60px;
}
h1{
    font-family:sans-serif;
    font-weight:bold;
}
.carousel {
    width: 100%;
    max-width: 800px; /* limit max size */
    height: 40vw; /* responsive height */
    margin: 0 auto;
}

    .carousel img {
        width: 100%;
        height: 100%;
        object-fit: cover;
     
    }
.text-box {
    background: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
    color: white; /* keep text visible */
    padding: 10px;
}
table {
    margin: 0 auto; /* Centers the table horizontally */
    border-collapse: collapse;
    text-align: center; /* Centers text inside cells */
}

th {
        border: 1px solid black; /* Table cell borders */
        padding: 10px;
    }
th {
    border: 1px solid black; /* Table cell borders */
    padding: 10px;
}